body {
  background: linear-gradient(100deg, #f60, #f80);
}
#container {text-align: center;}
ul > li> button > span {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul > li{
  list-style: none;
  margin: 15px auto;
}
ul > li > span {
  font-size: 18px;
  font-weight: bolder;
  margin-top: 10px;
}
ul > li > button {
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  background: transparent;
}
ul > li > button > .lign {
  width: 15px;
  height: 2px;
  background: #000;
}
.lign:first-of-type {
  transform: rotate(45deg);
}
.lign:last-of-type {
  transform: rotate(-45deg);
}
form {
  width: 401px;
  height: 40px;
  background: #fff;
  font-size: 16px;
  margin: 50px auto;
}
form input {
  width: 300px;
  height: 37px;
  text-indent: 10px;
  border: none;
  outline: none;
}
form button {
  width: 95px;
  height: 40px;
  margin-left: 2px;
  background: #000;
  color: #fff;
  border: none;
  outline: none;
}